/* ~/.config/swayosd/style.css */
@define-color base #7287fd;  /* background */
@define-color surface0 #c6a0f6; /* border */
@define-color blue #870000; /* icon and filled up bar */
@define-color text #870000;

window#osd {
    background-color: @base;
    border: 2px solid @surface0;
    border-radius: 16px;
    background-image: none;
    color: @text;
}

/* Container for icon and bar */
box#osd-box {
    padding: 1px 1px;
    background-color: transparent;
}

image#osd-icon {
    color: @blue;
    size: 60px;
}

label#osd-label {
    color: @text;
    margin-bottom: 5px;
}

progressbar#osd-bar trough {
    min-height: 20px;
    border-radius: 100px;
    background-color: @surface0;
}

progressbar#osd-bar progress {
    border-radius: 100px;
    background-color: @blue;
}
