* {
    color: #c0caf5;
    font-family: "Lato", "JetBrainsMono Nerd Font", sans-serif;
    padding-right: 2px;
    padding-left: 2px;
}
window {
    background: #1a1b26;
}
#waybar {
    background: #1a1b26;
}
/*      all modules default look      */
#cpu,
#custom-nvidia,
#mpris,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#clock,
#battery {
  padding: 0px 10px 0px 10px;
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  color: #c0caf5;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#workspaces {
  padding: 0px 30px 0px 10px;
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  color: #c0caf5;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#workspaces:hover {
  border: 0px;
}
#cpu:hover,
#custom-nvidia:hover,
#mpris:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#clock:hover,
#battery:hover {
  background-color: #24283b;
}
#network.disconnected {
  color: #f7768e;
}
#bluetooth.connected {
  color: #7dcfff;
}
/* Workspace buttons */
#workspaces button {
    padding: 0px 0px;
    margin: 0px 4px;
    border-radius: 10px;
    background: transparent;
    color: #c0caf5;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border: none;
    box-shadow: none;
    outline: none;
    min-width: 26px;
    min-height: 26px;
}
/* Active workspace */
#workspaces button.active {
    color: #1a1b26;
}
/* Workspace with windows */
#workspaces button.occupied {
    color: #c0caf5;
}
/* Empty workspace */
#workspaces button.empty {
    color: #414868;
}
/* Hover effect */
#workspaces button:hover {
    color: #ffffff;
}
#workspaces button * {
    background: transparent;
    padding: 0;
    margin: 0;
}
#workspaces button label,
#workspaces button image {
    padding: 0;
    margin: 0;
    background: transparent;
    color: #c0caf5;
}
#workspaces button:hover label,
#workspaces button:hover image {
    color: #9ece6a;
}
#custom-power {
  padding: 0px 10px 0px 10px;
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  color: #c0caf5;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#custom-power:hover {
  background-color: #24283b;
}
#custom-power.power-saver {
  color: #9ece6a;   /* green */
}
#custom-power.performance {
  color: #f7768e;   /* red */
}
/* balanced intentionally NOT styled */
/* so it inherits default #c0caf5 */
